<div>
  <section>
    <form action="">
      <label for="song">Song Title</label>
      <input type="text" id="song" />
      <label for="artist">Artist</label>
      <input type="text" id="artist" />
      <label for="album">Album</label>
      <input type="text" id="album" />
      <button type="submit">Insert Song</button><!--  grey out when empty -->
    </form>
  </section>
</div>

<table>
  <thead>
    <th>ID</th>
    <th>Song Title</th>
    <th>Artist</th>
    <th>Album Title</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Edit | Delete</td>
    </tr>
  </tbody>
</table>
